img{
  max-width: 100%;
  height: auto;
}
.news {grid-template-columns: 5fr 5fr}
.mainmenu {grid-template-columns: 5fr 5fr 5fr 5fr}
.container {grid-template-columns: 5fr 5fr 5fr 5fr}
.centered {grid-template-columns: 5fr 5fr 5fr 5fr}
.title {grid-template-columns: 5fr 5fr 5fr 5fr; font-size: 55px;}
.basefont {grid-template-columns: 5fr 5fr 5fr 5fr; grid-auto-columns: 5fr 5fr}
